<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link href="/styles/brainrot.css" rel="stylesheet" />
        <link href="/public/styles/brainrot.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Brainrot Investment Group</h1>
        <p>
            The Absolute sheer amount of rot that has consomed this generation is massive
            <a href="/public/images/ninja.jpeg" class="supriseLink">And you know what esle is massive</a>

        </p>
        <div class="investorprofile">
            <h2>Vinesauce Joel</h2>
            <img class="investorPfp" src="public/images/joel.webp" />
            <p class="investorBio">
                Vinesauce Joel is a pivotal investor and creator of the franchise <i>7 Grand Dad</i> and
                <i>Sailor Gun</i>. After scamming people with Bonzi Buddy and 5G Bio Shield. We have brought him on to
                help invest in BrainrotAI.
            </p>
        </div>

        <div class="investorprofile">
            <h2>Ayumu "Osaka" Kasuga</h2>
            <img class="investorPfp" src="public/images/GANGSTAOSAKA.jpg" />
            <p class="investorBio">
                Osaka is a leading member of the fammed <b>Knuckleheads</b> crime group.They are focused on bringing
                chaos to every classroom and making sure
            </p>
            Are you a knucklehead? Click Here
            <a href="/osaka">OSAKA</a>
        </div>
        <section class="section">
            <h1>Our Investments</h1>
            <div class="investment">
                <h1 class="investmentTitle">The Nutshack</h1>
                <a href="/nutshack">NUTSHACK</a>
                <p class="investmentDescription">
                    It’s the Nutshack! (Yee, yee) It’s the Nutshack! (What he say?) (Ayyyy!) It’s the Nutshack! (Oh,
                    yes!) (Yeeeah!) It’s the Nutshack! (Hey, I got the Nutshack!) It’s the Nutshack! (Don’t forget it,
                    boyee!) It’s the Nutshack! (It’s the Nutshack!) It’s the Nutshack! (It’s the Nutshack!) It’s the
                    Nutshack! (Yeah!) (It’s the Nutshack…) It’s the Nutshack! (Hey!) It’s the Nutshack! (Piece a’ nuts!)
                    It’s the Nutshack! (Whoooa!) It’s the Nutshack! Hoo-ugh! Phil’s from ‘Frisco, Jack’s from the P.I.,
                    Horatio the Horat so bigga! Tito Dick “Dickman”, baby! He raised Phil and loves the ladies. Jack’s
                    cool and lazy, he’s still learnin’. Number one Cherry Pie, still a virgin. Chita, meet da freak of
                    da weekah! Phil’s homegirl that Jack wanna keep her, But that’s not happenin’, either! Shake it like
                    a seizure, hold up, Lemme spark this, take a breather, (Yeaaah huh huh!) Breathe that reefer in my
                    lungs. I got grapes, what you watchin’, son? It’s the Nutshack! (Yah!) It’s the Nutshack!
                    (AAAAARRRGH!) It’s the Nutshack! It’s the Nutshack!
                </p>
            </div>
            <div class="investment">
                <h1 class="investmentTitle">Ayumu</h1>
                <img src="/public/images/EoY8PEiW4AIg00B.jpg" alt="Ayumu" />
            </div>
        </section>
    </body>
</html>
