<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/styles/brainrot.css">
</head>
<body>
  <div id="welcome">
  <h1>cock.end</h1>
  <p>THE WORST WEBSITE ON THE INTERWEB</p>
 
  <p>A Weird ass place for me to play around with HTML, CSS, Javascript and NodeJS. Take some time to look around at whatever in gods green earth I have created. </p>
  </div>
  <table>
    <thead>
      <th>OSAKA</th>
      <th>JOEL</th>
      <th>THE NUTSHACK</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/osaka"><img class="buttonicon" src="/public/images/osaka2.gif"></a>
        </td>
        <td>
          <a href="/granddad"><img class="buttonicon" src="/public/images/joel2.gif"></a>
        </td>
        <td>
          <a href="/nutshack"><img class="buttonicon" src="/public/images/fren.gif"></a>
        </td>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>

  <h1>BRUHs</h1>
  <p>Here are some statistics.</p>
  
</body>
</html>