<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITS THE NUTSHACK</title>
    <link href="/public/styles/brainrot.css" rel="stylesheet">
    <link href="/public/styles/nutshack.css" rel="stylesheet">
</head>
<body>
<video autoplay loop muted playsinline id="bg-video" src="/public/videos/nutshack.mp4"></video>
<div class="grid-container">
    <div class="video-grid">
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <video autoplay loop playsinline src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
        <div id="nutshack-text">ITS THE NUTSHACK</div>
    </div>
</body>
</html>