<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITS THE NUTSHACK</title>
    <link href="/public/styles/brainrot.css" rel="stylesheet">
    <link href="/public/styles/nutshack.css" rel="stylesheet">
</head>
<body>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
<video autoplay loop src="/public/videos/nutshack.mp4" class="itsthenutshack"></video>
</body>
</html>