<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ITS THE NUTSHACK</title>
    <link href="/public/styles/brainrot.css" rel="stylesheet">
    <link href="/public/styles/nutshack.css" rel="stylesheet">
</head>
<body>
<video autoplay loop muted playsinline id="bg-video" src="/public/videos/nutshack.mp4"></video>

<h1>
    ITS THE NUTSHACK - LOOPS: <span id="loop-count">0</span>
</h1>

  <table>
    <thead>
            <tr>
                <th>ITS</th>
                <th>THE</th>
                <th>NUTSHACK</th>
            </tr>
    </thead>
    <tbody>
      <tr>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
      </tr>
      <tr>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
        <td><video playsinline src="/public/videos/nutshack.mp4"></video></td>
      </tr>
    </tbody>
  </table>

<h2>DID YOU KNOW?</h2>
<p>Your Mom</p>
<p>THAT IS ALL GOODBYE</p>
</body>
</html>