<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/styles/brainrot.css" rel="stylesheet" />
    <link href="/public/styles/brainrot.css" rel="stylesheet" />
</head>
<body>
    <h1>Osaka</h1>
    <p>My Name Is Ayumu Kasuga</p>
    <a href="/">Home</a>
    <img class="image2" src="/public/images/GANGSTAOSAKA.jpg" alt="Osaka" />
    <video class="osakaplayer" controls src="/public/videos/osaker_plug_1742540400_3592990671746956482_63542748978.mp4"></video>

    <h2>PENIS</h2>


</body>
</html>