#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(100%) blur(10px);
    z-index: -1;
}
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    padding: 20px;
}
.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

/* Bottom text */
#nutshack-text {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
    margin-top: 20px;
    z-index: 1;
}